[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
google-api-python-client = "*"
peewee = "*"
"discord.py" = {extras = ["voice"],version = "*"}
loguru = "*"
httpx = "*"
youtube-dl = "*"
aiodns = "*"
cchardet = "*"
randomorgapiclient = {git = "https://github.com/gfrewqpoiu/RandomOrgAPIClient.git"}

[requires]
python_version = "3.8"
